<h1>Mise à jour de ton mot de passe Ndombi</h1>

<p>
    Ton mot de passe a été réinitialisé.
</p>
<p><span style="text-decoration: underline">Ton nouveau mot de passe est désormais</span> : <b>{{ newPassword }}</b></p>
<p>
    Nous avons besoin que tu confirmes ce changement, tu seras ainsi redirigé vers la page de login : <a target="_blank" href="{{ host }}{{ path('confirm_password', {token: accessToken}) }}">{{ host }}{{ path('confirm_password', {token: accessToken}) }}</a>
</p>
<p><span style="text-decoration: underline">PS</span> : Prends soin de noter ton mot de passe, celui-ci ne peut être récupéré par mesure de sécurité. Il devra être réinitialisé.</p>
<p>A tout de suite sur Ndombi !</p>
<p>Bon courage,</p>
<p>Belle journée</p>